<h1>Check the browser console for errors</h1>
<h4>If you remove the "//=require js-routes" from components.js and delete tmp folder, it works. Delete tmp folder is required step in order to make it work</h4>